terah.dev, *.terah.dev {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        resolvers 1.1.1.1
    }

    reverse_proxy /* 10.10.0.3:8000
}

matrix.terah.dev, https://matrix.terah.dev:8448 {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        resolvers 1.1.1.1
    }

    reverse_proxy /* 10.10.0.3:8000
}
